:focus{

    user-select: none;
    outline: none !important;
}
/*disable dragging on images */
/* img{-webkit-user-drag: none;
        
} */

.disable-select {
     
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.swagLabelSmall {

    color:white;
    font-size:12px;
    /* font: 'Roboto'; */
    font-family: 'Roboto', sans-serif, arial;
    font-weight: normal;
}

.swagLabel {
    color:white;
    font-size:24px;
    /* font: 'Roboto'; */
    font-family: 'Roboto', sans-serif, arial;
    font-weight: lighter;
}
/* added comment */

.ui-widget-header {
	
	background: #333333 url("images/network1.gif") 100% 100% repeat; 
	font-weight: lighter;
}

.ui-widget .ui-widget{
     font-size:20px;

}

.ui-widget.ui-widget-content {
    border: 0px;
    outline: none;
    }
    
.ui-button {
    font-weight: normal;
    outline: none;
    padding: 2px 5px;
    margin: 3px 3px;
    
}


.ui-slider.ui-slider-horizontal {
  margin: 0px 0px 5px 0px;
  height: 40px;
  /* border: 1px solid #666666; */
  background: transparent url(images/slider2.png);
}
.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-max{

   background: #000000 url(images/slider1.png);
   /* border: 1px solid #666666; */
}



.ui-slider .ui-slider-handle {
	/* position: absolute; */
    border: 0px solid #666666;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    top: -0em;
    left: -0.1em;
	z-index: 2;
	width: 40px;
	height: 40px;
	cursor: default;
	 
   touch-action: none;
   background: transparent url(images/slider_customHandle.png) no-repeat 0 0;
}


/* style for d3 board in tab random walk */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}



.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,  
.ui-button:focus {
	border: 0px solid #666666;
	background: #0f0f0f;
	font-weight: normal;
	color: #ffffff;
    outline: 1px
}

.ui-slider-handle:hover,
.ui-slider-handle:focus {
	border: 0px solid #1c58fb;
	background: transparent url(images/slider_customHandle_active.png) no-repeat 0 0;
	font-weight: normal;
    outline: none;
	/* color: #ffffff; */
}

/* for debugging i make the background of body and ui widget contents transparent */
/* body { */
  /* background-color:rgba(0, 0, 0, 0); */
/* } */
/* .ui-widget-content { */
	/* border: 1px solid #666666; */
	/* background: none; */
  /* color: white; */
  /* background-color:rgba(0, 0, 0, 0); */
/* } */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0089cc; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00abff; 
}

.bar {
  /* fill: steelblue; */
}

.bar:hover {
  fill: #7500fa;
}

.axis {
  font: 10px sans-serif;
    fill: white;
  stroke: white;
}

.axis path,
.axis line {
  fill: white;
  stroke: white;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.g tick{
      fill: white;
  stroke: white;
}
