{% extends "layout.html" %}
{% block content %}
<head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">

 <style type="text/css">
  div.tooltip {
    position: absolute;
    text-align: center;
    width: 300px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
    </style>

</head>
<body>

<svg width="960" height="600" style="background-color:#F8B100"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

//create the global ue4(...) helper function
var isnew = false;

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");
  console.log(svg);


// Define the div for the tooltip
var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

var color = d3.scaleOrdinal(d3.schemeCategory20);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-150))
    .force("center", d3.forceCenter(width / 2, height / 2));

function drawit(data) {
//if (error) throw error;


var link = svg.append("g")
    .selectAll("line")
    .data(data.links)
    .enter().append("line")
    .attr("stroke", d3.color("steelblue") )
    .attr("stroke-width", function(d) { return Math.sqrt(d.value);
    })
  ;

console.log(link)

var node = svg.append("g")
    // .selectAll("circle")
  .selectAll("g")
    .data(data.nodes)
    .enter().append("g");
  console.log(node);


var circles = node.append("circle")
      .attr("r", 10)
      .attr("fill", function(d) { return color(d.group); })
   .on("mouseover", function(d) {
     var myrad = d3.select(this).attr("r");
     var mycolor = d3.select(this).style("fill");
                 tooltip.transition()
                 .duration(200)
                 .style("opacity", .9);
             tooltip.html(d.name + "<br/>" )
                 .style("left", (d3.event.pageX + 4) + "px")
                 .style("top", (d3.event.pageY - 35) + "px");
   d3.select(this).attr("r", 10).attr("myrad", myrad).attr("mycolor", mycolor).style("fill", "red");
 })
     .on("mouseout", function(d) {
       const myrad = d3.select(this).attr("myrad");
       const mycolor = d3.select(this).attr("mycolor");
                   tooltip.transition()
                 .duration(500)
         .style("opacity", 0);


   d3.select(this).attr("r", myrad).style("fill", mycolor);
 })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  node.append("text")
      .text(function(d) { return d.symbol; });

  simulation
      .nodes(data.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(data.links);

function ticked() {

    if(isnew){
    console.log("drawit ran");
    isnew = false;
    d3.selectAll("svg > *").remove();
    drawit(data);
    }

    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    //node
    //    .attr("cx", function(d) { return d.x; })
    //    .attr("cy", function(d) { return d.y; });
      node
        .attr("transform", function(d) {
          return "translate(" + d.x + "," + d.y + ")";
        });
  }

  console.log("drawit ran");
};

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

// Create Event Handlers for mouse
function handleMouseOver(d, i) {  // Add interactivity

  // Use D3 to select element, change color and size
  console.log("hello")
  console.log(this)
  console.log(this)
  console.log(d3.select(this).attr)
  d3.select(this).attr({
    r: 20
  });

  // Specify where to put label of text
  // svg.append("text").attr({
  //    id: "t" + d.x + "-" + d.y + "-" + i,  // Create an id for text so we can select it later for removing on mouseout
  //     x: function() { return xScale(d.x) - 30; },
  //     y: function() { return yScale(d.y) - 15; }
  // })
  // .text(function() {
  //   return [d.x, d.y];  // Value of the text
  // });
}

function handleMouseOut(d, i) {
  // Use D3 to select element, change color back to normal
  d3.select(this).attr({
    fill: "black",
    r: 10
  });

  // Select text by id and then remove
  // d3.select("#t" + d.x + "-" + d.y + "-" + i).remove();  // Remove text location
}




console.log($(location).attr('href'))


const mydata = $.ajax({
  url: 'api/ppi/subgraph',
  data: {"attribute_id":"64963"},
  success: function(x) {
    console.log(x);
    var mydataz = {};
    mydataz["links"] = x["edges"].map(function(z) {return { "source":z.source.toString(), "target": z.target.toString() }});
    mydataz["nodes"] =  x["nodes"].map(function(z) { return {"id": z.id.toString(), "group": 1, "symbol": z.symbol, "name": z.name}});
    console.log(mydataz);
drawit(mydataz);


    }
});




</script>


<title>My Awesome Dashboard</title>
<h1>My awesome dashboard is so awesome!</h1>
<p>
Please upload layouts, links, and labels here.
<p>
</p>
Note that all external IDs in the links table must match nodes in the layouts table.
</p>

{{ g.namespaces }}

<table>
  <tbody>
    {% for namespace in g.namespaces %}
      <tr>
        <td>
           {{ namespace["namespace"] }}
        </td>
        <td>
           {{ ",".join(namespace["labels"]) }}
        </td>
        <td>
           {{ ",".join(namespace["layouts"]) }}
        </td>
      </tr>
     {% endfor %}
  </tbody>
</table>


</body>
{% endblock %}
