<!-- PUT YOUR UI ELEMENTS IN HERE AND DEFINE MAPPINGS IN MyUi.js -->

<!-- HTML STARTS HERE -->

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataswimmer.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" -->
  <!-- rel = "stylesheet"> -->
  <!-- <link href="jquery-ui.css" rel="stylesheet"> -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/d3ForceGraph.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/d3barchart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dataDiVR_API.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/MyUi.js') }}"></script>

  <!-- add d3 for fun and profit (and for the randomwalk tab) -->



</head>

<body>

  <div class="genepop pop" id="node_popup">
    <p id=node_name></p>
    <a id=show_attributes_list href="#">Show attributes</a>
    <a id=node_popup_close href="#">Close</a>
    <p id=attributes_list hidden style="max-height:500px; overflow-y:scroll"></p>
  </div>


  <div id="container">
  <div id="left">
  <div id="tabs" class="disable-select">
    <ul>
      <li><a href="#tab_namespaces"><img draggable="false" onmousedown="return false" height='60' width='60'
            src="{{ url_for('static', filename='img/active_open.png') }}" /></a></li>
      <li><a href="#tab_selections"><img draggable="false" onmousedown="return false" height='60' width='60'
            src="{{ url_for('static', filename='img/active_sel.png') }}" /></a></li>
      <li><a href="#tab_search"><img draggable="false" onmousedown="return false" height='60' width='60'
            src="{{ url_for('static', filename='img/active_search.png') }}" /></a></li>
      <li><a href="#tab_analytics"><img draggable="false" onmousedown="return false" height='60' width='60'
            src="{{ url_for('static', filename='img/active_gears.png') }}" /></a></li>
    </ul>

    <div id="tab_namespaces">
      <p>PROJECTS</p>
      <select name="namespaces" id="namespaces">
        {% for namespace in namespaces %}
          <option value="{{namespace['namespace']}}">{{namespace['namespace']}}</option>
        {% endfor %}
      </select>
      <h1>Upload new data</h1>
      <p>
      Please upload layouts, links, and labels here.
      </p>

      <form id="upload_form" method=post enctype=multipart/form-data>
        Select Layouts: <input type=file name=layouts multiple><br>
        Select Links: <input type=file name=links multiple><br>
        Select Attributes: <input type=file name=attributes multiple><br>
        Select Cluster Labels: <input type=file name=labels multiple><br>
        <input type="radio" name="namespace" value="existing" checked>Add to current project<br>
        <input type="radio" name="namespace" id="radio_new_namespace" value="New">Create new project<br>
        <input type="text" id="new_namespace_name" name="new_name" hidden><br>
        <p id="submit_warnings"></p>
        <input type=submit value=Upload  disabled=true id=upload_button />
      </form>

    </div>

    <div id="tab_selections">
      <p>LOAD SELECTION</p>
      <select name="selections" id="selections"></select>
      <button id="LoadSelection">GO!</button>
    </div>

    <div id="tab_search">
      <p>SEARCH </p>
       <table id=search_bar>
    <tr id=search_field_1>
      <th><select name="searchPredicate1" class="search-predicate" id="searchPredicate1"></select></th>
      <th><select name="searchAttribute1" class="search-attribute" id="searchAttribute1"></select></th>
      <th><button name	="searchInput1" class="search-button" id="searchInput1">INPUT1</button></th>
      <th><button name	="showInput2" class="search-button" id="showInput2">+</button></th>
    </tr>
    <tr id=search_field_2 style="display: none;">
      <th><select name	="searchPredicate2" class="search-predicate" id="searchPredicate2"></select></th>
      <th><select name="searchAttribute2" class="search-attribute" id="searchAttribute2"></select></th>
      <th><button name	="searchInput2" class="search-button" id="searchInput2">INPUT2</button></th>
      <th><button name	="hideInput2" class="search-button" id="hideInput2">-</button></th>
      <th><button name	="showInput3" class="search-button" id="showInput3">+</button></th>
    </tr>
    <tr id=search_field_3 style="display: none;">
      <th><select name	="searchPredicate3" class="search-predicate" id="searchPredicate3"></select></th>
      <th><select name="searchAttribute3" class="search-attribute" id="searchAttribute3"></select></th>
      <th><button name	="searchInput3" class="search-button" id="searchInput3">INPUT3</button></th>
      <th><button name	="hideInput3" class="search-button" id="hideInput3">-</button></th>
      <th><button name	="showInput4" class="search-button" id="showInput4">+</button></th>
    </tr>
    <tr id=search_field_4 style="display: none;">
      <th><select name	="searchPredicate4" class="search-predicate" id="searchPredicate4"></select></th>
      <th><select name="searchAttribute4" class="search-attribute" id="searchAttribute4"></select></th>
      <th><button name	="searchInput4" class="search-button" id="searchInput4">INPUT4</button></th>
      <th><button name	="hideInput4" class="search-button" id="hideInput4">-</button></th>
    </tr>
      </table>
        <button name="searchGO" id="searchGO">GO!</button>

      <p>
        <p id="sResults">SEARCH BY NAME</p>
        Enter search term:
      <input type="text" id="search_txt" name="search_txt" />
      <div id="autocomp">
      </div
      </p>
       <p id=taxonomy_bar_outer>
        <p id="tex">TAXONOMY EXPLORER</p>
        <p id=taxonomy_bar> </p>
        </p>
    </div>

    <div id="tab_analytics">

      <h2>Random Walk</h2>
      <fieldset>
        <legend>Select a starting group: </legend>
        <label for="radio-1">Use nodes in shopping cart</label>
        <input type="radio" name="radio-1" id="radio-1">
        <label for="radio-2">Use existing selection</label>
        <input type="radio" name="radio-1" id="radio-2">
        <label for="radio-3">London</label>
        <input type="radio" name="radio-1" id="radio-3">
      </fieldset>
      <h2>
        Restart probability:
        <span type="text" id="restart_probability"
          readonly style="color: white; background-color: black;">0.9
        </span>
      </h2>
      <div id="slider-restart_probability"></div>

      <div class="widget">
        <button id="start_randomwalk_button">Run random walk</button>
        <button id="clear_randomwalk_button">CLEAR</button>
      </div>

      <!-- <svg width="512" height="600"></svg> -->
      <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/d3ForceGraph.js') }}"></script> -->
    </div>

  </div>  <!-- #tabs -->
  <div id=results hidden>
    <div id="random_walk_display" hidden>
      <svg id="barChart" width="500" height="500"></svg>
    </div>  <!-- #random_walk_display -->
    <div id="force_graph" hidden>
       <div id="graphDisplay"></div>
       <svg id="forceLayout" width="500" height="500"></svg>
    </div>
        <div id="ResultList" style="max-height:400px; overflow-y:scroll">
      </div>
      <p id="ResultsLabel">RESULTS</p>
      <p>
        <select name="searchMode1" id="searchMode1" style="display: none;">
          <option value="NEW">Start new selection</option>
          <option value="ADD">Add to current selection</option>
          <option value="INT">Intersect with existing selection</option>
          <option value="SUB">Subtract from existing selection</option>
        </select>
        &nbsp;
        <button name="SaveSearch" id="SaveSearch">SAVE</button>
       </p>
  </div>  <!-- #results -->
  </div>  <!-- #left -->

  <div id="right">
    <ul>
      <li><a href="#shopping_cart"><img draggable="false" onmousedown="return false" height='60' width='60'
            src="{{ url_for('static', filename='img/active_open.png') }}" /></a></li>
    </ul>
  <div class="shopping_cart" id="shopping_cart" style="max-height:400px; overflow-y:scroll">
    <div class="shopping_cart_controls" id="shopping_cart_controls">
      <button id="clear_cart">Clear</button>
      <button id="save_cart">Save</button>
      <input id="selection_name_input" />
    </div>  <!-- #shopping_cart_controls -->
    <div class="shopping_cart_inner" id="shopping_cart_inner">
    </div>  <!-- #shopping_cart_inner -->
  </div>  <!-- #shopping_cart -->



  </div>  <!-- #right -->
  </div>  <!-- #container -->


  <div class="page" id="page">
  </div>

</body>


